.idea
2016/qualification_round/boomerang_constellations/old
2016/qualification_round/high_security
2016/qualification_round/text_editor
2016/qualification_round/the_price_is_correct
2017/qualification_round/lazy_loading
2017/round_1
2020/qualification_round/running_on_fumes_chapter_1
2020/qualification_round/timber
*_sample_biginput.txt
*_sample_bigoutput.txt
*_validation_input.txt
*_validation_output.txt